


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height:1.5em;

}



:root {
    --mainfundo: #f5f5f5;
    --texto: #222222;
    --textoinverso:#ffffff;
    --destaque:#0077ff;
    --destaqueinverso:#66bbff;
    --fundocard:#ffffff;
}


body {
    background-color: var(--mainfundo);
    color: var(--texto);
}

header {
color: var(--texto);
padding: 10px;
background-color: var(--destaque);


display: flex;
justify-content: flex-end;
align-content: center;


}


nav#menu ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    
    list-style: none;
    
}

nav#menu a {
    text-decoration: none;
    color: var(--textoinverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
}

nav#menu a:hover {
    background-color: var(--destaqueinverso);
    color: var(--destaque);
    transition: background-color 0.5s , color 0.5s;
}
