* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

header {
    background-color: blue;
    padding: 10px 30px ;
    position: fixed;
    width: 100%;
   

    display: flex;
    justify-content: flex-end;
    align-items: center;
 
}
body {
    background-color: rgb(160, 160, 160);
}

main {

padding-top: 30px;
display: grid;
grid-template: auto auto auto / 15px 1fr 15px;



}

footer {
    color: white;
    text-align: center;
}



#navbar{
    display: flex;
    gap: 15px;
}

#bioarea{
grid-row: 1 / 2;
grid-column: 2 / -2;
background-color: white;
border-radius: 10px;
margin-top: 20px;

}

#bio h2 {
color: rgb(0, 130, 211);
margin-bottom: 5px;
padding: 8px;
}
#bio p {
    padding: 8px;
}

#sociais {
    display: flex;
    justify-content:center;

}
#sociais a {
padding: 5px;
}

#apresentacao {
grid-row:2/3;
grid-column: 2/-2;
}


.foto-perfil {
  /* 1. Define um tamanho quadrado perfeito */
  width: 150px;
  height: 150px;
  
  /* 2. Corta os excessos da foto sem distorcer o rosto */
  object-fit: cover;
  
  /* 3. Transforma o quadrado em um círculo perfeito */
  border-radius: 50%;
  
  /* 4. Cria a borda azul (espessura, estilo sólida, e a cor) */
  border: 4px solid #1e88e5;
  display: block;
  margin: 20px auto 0px auto;
}